<div class="title">
  The User_Derpers List of Magical Users</div>

<div class="order-pod">
  <div class="information-bar">User Details</div>
  <div class="headed-box">
    <div class="content">We currently have <%= @uk_users.count %> UK Users</div>
    <div class="content">We currently have <%= @se_users.count %> SE Users</div>
    <div class="content">We currently have <%= @no_users.count %> NO Users</div>
  </div>
</div>

<div class="order-pod">
  <div class="information-bar">Users on On the Beach</div>
  <div class="flickr_pagination"><%= will_paginate @users %></div>
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Domain</th>
      <th colspan="3">Actions</th>
    </tr>

    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name.capitalize %></td>
        <td><%= user.surname %></td>
        <td><%= user.email.capitalize %></td>
        <td><%= render user.flag %></td>
        <td><%= link_to 'Show', user_path(user) %></td>
        <td><%= link_to 'Destroy', user_path(user),
                method: :delete,
                data: {confirm: 'Are you sure?'}%></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
      </tr>
    <% end %>
  </table>
</div>
