<div class="title">
  User Details
</div>

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">person</i>User Details</div>
    <div class="collapsible-body">
      User Name:<div class="collapsible-content"><%= @user.user_name %></div><br />
      Email:<div class="collapsible-content"><%= @user.email.capitalize %></div><br />
      Last Logged in:<div class="collapsible-content"><%= @user.time_since_last_login %></div><br />
      Total Holidays Booked: <%= @user.holidays.count %>
    </div>
  </li>
</ul>

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">search</i>Last Search</div>
      <div class="collapsible-body">
        <% if @user.last_search %>
          <br>Where:
          <div class="collapsible-content"><%= @user.last_search_info[:where] %></div>
          <br>When:
          <div class="collapsible-content"><%= @user.last_search_info[:when] %></div>
          <br>Pax:
          <div class="collapsible-content"><%= @user.last_search_info[:pax] %></div>
        <% else %>
          No searches made yet!
        <% end %>
      </div>
    </li>
</ul>

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">beach_access</i>Last Holiday Booked </div>
      <div class="collapsible-body">
        <% if @user.holidays? %>
          <br>Order No:
          <div class="collapsible-content"><%= @user.last_holiday_info[:myb] %></div>
          <br>Confirmed On:
          <div class="collapsible-content"><%= @user.last_holiday_info[:order_date] %></div>
          <br>Departure Date:
          <div class="collapsible-content"><%= @user.last_holiday_info[:departure_date] %></div>
          <br>Duration:
          <div class="collapsible-content"><%= @user.last_holiday_info[:nights] %></div>
          <br>Return Date:
          <div class="collapsible-content"><%= @user.last_holiday_info[:return_date] %></div>
        <% unless @user.last_holiday_flo? %>
          <br>Hotel:
          <div class="collapsible-content"><%= @user.last_holiday_info[:hotel] %></div>
        <% end %>
          <br>Destination:
          <div class="collapsible-content"><%= @user.last_holiday_info[:where] %></div>
          <br>Holiday Type:
          <div class="collapsible-content"><%= @user.last_holiday_info[:type] %></div>
          <br>Passengers:
          <div class="collapsible-content"><%= @user.last_holiday_info[:pax] %></div>
        <% else %>
          No holidays booked yet!
        <% end %>
      </div>
  </li>
</ul>

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">group</i>Similar User Searches</div>
    <% if @other_users %>
      <div class="collapsible-body">
        <br>Other users who also searched for this destination were...
        <div class="collapsible-content">
          <table>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Domain</th>
              <th colspan="1">Actions</th>
            </tr>

            <% @other_users.each do |user| %>
              <tr>
                <td><%= user.first_name.capitalize %></td>
                <td><%= user.surname %></td>
                <td><%= user.email.capitalize %></td>
                <td><%= render user.flag %></td>
                <td><%= link_to 'Show', user_path(user) %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    <% else %>
      <br><div>There were no users who searched here</div>
    <% end %>
  </li>
</ul>

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">show_chart</i>Departure Date Searches</div>
    <div class="collapsible-body">
      <% if @user.last_search %>
        <table>
          <td><%= column_chart user_charts_search_history_by_day_path(@user),
                         width: '500px', height: '375px', xtitle: 'Day of Departure',
                         ytitle: 'Number of Searches' %></td>

           <td><%= column_chart user_charts_search_history_by_month_path(@user),
                         width: '500px', height: '375px', xtitle: 'Month of Departure',
                         ytitle: 'Number of Searches' %></td>
        </table>
      <% else %>
        No data to show yet!
      <% end %>
    </div>
  </li>
</ul>

<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">wb_sunny</i>Actions</div>
    <div class="collapsible-body">
      <div class="collapsible-content">
        <%= link_to 'Edit', edit_user_path(@user) %>
        <%= link_to 'Back', users_path %>
      </div>
    </div>
  </li>
</ul>
