<p>
  <strong>User Name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email.capitalize %>
</p>

<p>Well hello there - <%=@user.user_name%> - Your last search was...</p>

Where: <%= @user.last_search_info[:where] %> <br />
When: <%= @user.last_search_info[:when] %> <br />
Pax: <%= @user.last_search_info[:pax] %> <br />
ALSO WELL DONE FOR BOOKING <span class="important"><%= @user.holidays.count %></span> Holidays with us<br />

<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
