<div class="order-pod">
  <div class="information-bar">User Details</div>
  <div class="headed-box">
    <div class="head">User Name:</div>
    <div class="content"><%= @user.user_name %></div>
    <div class="head">Email:</div>
    <div class="content"><%= @user.email.capitalize %></div>
    <div class="head">Last Logged in:</div>
    <div class="content"><%= @user.time_since_last_login %></div>
    <div class="head head__total">
      Total Holidays booked: <span class="important"><%= @user.holidays.count %></span>
    </div>
  </div>
</div>

<div class="order-pod">
  <div class="information-bar">Last Search</div>
  <% if @user.last_search %>
    <div class="headed-box">
      <div class="head">Where:</div>
      <div class="content"><%= @user.last_search_info[:where] %></div>
      <div class="head">When: </div>
      <div class="content"><%= @user.last_search_info[:when] %></div>
      <div class="head">Pax:</div>
      <div class="content"><%= @user.last_search_info[:pax] %></div>
    </div>
  <% else %>
    <div class="head">No searches made yet!</div>
  <% end %>
</div>

<div class="order-pod">
  <div class="information-bar">Last Holiday Booked </div>
  <% if @user.holidays? %>
    <div class="headed-box">
      <div class="head">Order No:</div>
      <div class="content"><%= @user.last_holiday_info[:myb] %></div>
      <div class="head">Confirmed On:</div>
      <div class="content"><%= @user.last_holiday_info[:order_date] %></div>
      <div class="head">Departure Date:</div>
      <div class="content"><%= @user.last_holiday_info[:departure_date] %></div>
      <div class="head">Duration:</div>
      <div class="content"><%= @user.last_holiday_info[:nights] %></div>
      <div class="head">Return Date:</div>
      <div class="content"><%= @user.last_holiday_info[:return_date] %></div>
      <% unless @user.last_holiday_flo? %>
        <div class="head">Hotel:</div>
        <div class="content"><%= @user.last_holiday_info[:hotel] %></div>
      <% end %>
      <div class="head">Destination:</div>
      <div class="content"><%= @user.last_holiday_info[:where] %></div>
      <div class="head">Holiday Type:</div>
      <div class="content"><%= @user.last_holiday_info[:type] %></div>
      <div class="head">Passengers:</div>
      <div class="content"><%= @user.last_holiday_info[:pax] %></div>
    </div>
  <% else %>
    <div class="head">No holidays booked yet!</div>
  <% end %>
</div>

<div class="order-pod">
  <div class="information-bar">Similar User Searches</div>
  <% if @other_users %>
    <div class="headed-box">
      <div class="head">Other users who also searched for this destination were...</div>
      <table>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Domain</th>
          <th colspan="1">Actions</th>
        </tr>

        <% @other_users.each do |user| %>
          <tr>
            <td><%= user.first_name.capitalize %></td>
            <td><%= user.surname %></td>
            <td><%= user.email.capitalize %></td>
            <td><%= render user.flag %></td>
            <td><%= link_to 'Show', user_path(user) %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% else %>
    <div class="head">There were no users who searched here</div>
  <% end %>
</div>

<strong>When you're looking to go on Holiday!</strong>
<% if @user.last_search %>
  <%= column_chart user_charts_search_history_by_day_path(@user),
                   width: '500px', height: '375px', xtitle: 'Day of Departure',
                   ytitle: 'Number of Searches' %>

  <%= column_chart user_charts_search_history_by_month_path(@user),
                   width: '500px', height: '375px', xtitle: 'Month of Departure',
                   ytitle: 'Number of Searches' %>
<% end %>

<div class="order-pod">
  <div class="information-bar">Actions</div>
  <div class="headed-box">
    <div class="content">
      <%= link_to 'Edit', edit_user_path(@user) %>
      <%= link_to 'Back', users_path %>
    </div>
  </div>
</div>
