
<h2>User Details</h2>
<p>
  <strong>User Name:</strong>
  <%= @user.user_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email.capitalize %>
</p>

<% if @user.last_search %>

<h2>Last Search</h2>

<strong>Where:</strong> <%= @user.last_search_info[:where] %> <br />
<strong>When: </strong><%= @user.last_search_info[:when] %> <br />
<strong>Pax:</strong> <%= @user.last_search_info[:pax] %> <br />

<% else %>
No searches made yet!<br />
<% end %>

<% if @user.holidays? %>

<h2> Last Holiday Booked </h2>

Total Holidays booked: <span class="important"><%= @user.holidays.count %></span>
<br>
<br>
<strong>Order No:</strong> <%= @user.last_holiday_info[:order_id] %> <br>
<strong>Confirmed On:</strong> <%= @user.last_holiday_info[:order_date] %> <br>
<br>
<strong>Departure Date:</strong> <%= @user.last_holiday_info[:departure_date] %> <br>
<strong>Duration:</strong> <%= @user.last_holiday_info[:nights] %> <br>
<strong>Return Date:</strong> <%= @user.last_holiday_info[:return_date] %> <br>
<br>
<strong>Hotel:</strong> <%= @user.last_holiday_info[:hotel] %> <br>
<strong>Destination:</strong> <%= @user.last_holiday_info[:where] %> <br>
<br>
<strong>Holiday Type:</strong> <%= @user.last_holiday_info[:type] %> <br>
<strong>Passengers:</strong> <%= @user.last_holiday_info[:pax] %> <br>
<br>
<% else %>
No holidays booked yet!<br />
<% end %>

<h2>Similar User Searches</h2>
<p>
  <% if @other_users %>
    <strong>The other users who also searched for this destination were...</strong><br />
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Domain</th>
        <th colspan="2"></th>
      </tr>

      <% @other_users.each do |user| %>
        <tr>
          <td><%= user.first_name.capitalize %></td>
          <td><%= user.surname %></td>
          <td><%= user.email.capitalize %></td>
          <td><%= render user.flag %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    There were no users who searched here<br />
  <% end %>
</p>

<br>
<%= link_to 'Edit', edit_user_path(@user) %>
<%= link_to 'Back', users_path %>
